/* Login Form Styles */

.login-form-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://images.pexels.com/photos/3217911/pexels-photo-3217911.jpeg?cs=srgb&dl=pexels-andyhvu-3217911.jpg&fm=jpg&_gl=1*aiplvb*_ga*MTk4ODEwMjg5MS4xNzEwMTQzMzc4*_ga_8JE65Q40S6*MTcxNTI1MjkxMy41LjEuMTcxNTI1MzQ5OC4wLjAuMA..);
  background-size: cover;
  background-position: center;
}

.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  backdrop-filter: blur(5px); /* Apply blur effect to the background */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Shadow effect */
}

.login-form h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5); /* Semi-transparent white background */
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}